@font-face {
	font-family: 'EMOTIQ Slant';
	src: url(../../assets/fonts/EMOTIQSlant.eot?h=f7cb7ca57b9519444486590142c7d4be) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQSlant.eot?h=f7cb7ca57b9519444486590142c7d4be) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQSlant.woff2?h=f7cb7ca57b9519444486590142c7d4be) format('woff2'),
	url(../../assets/fonts/EMOTIQSlant.woff?h=f7cb7ca57b9519444486590142c7d4be) format('woff'),
	url(../../assets/fonts/EMOTIQSlant.ttf?h=f7cb7ca57b9519444486590142c7d4be) format('truetype'),
	url(../../assets/fonts/EMOTIQSlant.svg?h=f7cb7ca57b9519444486590142c7d4be) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'EMOTIQ Slant';
	src: url(../../assets/fonts/EMOTIQSlantBold.eot?h=f7cb7ca57b9519444486590142c7d4be) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQSlantBold.eot?h=f7cb7ca57b9519444486590142c7d4be) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQSlantBold.woff2?h=f7cb7ca57b9519444486590142c7d4be) format('woff2'),
	url(../../assets/fonts/EMOTIQSlantBold.woff?h=f7cb7ca57b9519444486590142c7d4be) format('woff'),
	url(../../assets/fonts/EMOTIQSlantBold.ttf?h=f7cb7ca57b9519444486590142c7d4be) format('truetype'),
	url(../../assets/fonts/EMOTIQSlantBold.svg?h=f7cb7ca57b9519444486590142c7d4be) format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}