@font-face {
	font-family: 'EMOTIQ Outline Slant';
	src: url(../../assets/fonts/EMOTIQOutlineSlant.eot?h=f7cb7ca57b9519444486590142c7d4be) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQOutlineSlant.eot?h=f7cb7ca57b9519444486590142c7d4be) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQOutlineSlant.woff2?h=f7cb7ca57b9519444486590142c7d4be) format('woff2'),
	url(../../assets/fonts/EMOTIQOutlineSlant.woff?h=f7cb7ca57b9519444486590142c7d4be) format('woff'),
	url(../../assets/fonts/EMOTIQOutlineSlant.ttf?h=f7cb7ca57b9519444486590142c7d4be) format('truetype'),
	url(../../assets/fonts/EMOTIQOutlineSlant.svg?h=f7cb7ca57b9519444486590142c7d4be) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'EMOTIQ Outline Slant';
	src: url(../../assets/fonts/EMOTIQOutlineSlantBold.eot?h=f7cb7ca57b9519444486590142c7d4be) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQOutlineSlantBold.eot?h=f7cb7ca57b9519444486590142c7d4be) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQOutlineSlantBold.woff2?h=f7cb7ca57b9519444486590142c7d4be) format('woff2'),
	url(../../assets/fonts/EMOTIQOutlineSlantBold.woff?h=f7cb7ca57b9519444486590142c7d4be) format('woff'),
	url(../../assets/fonts/EMOTIQOutlineSlantBold.ttf?h=f7cb7ca57b9519444486590142c7d4be) format('truetype'),
	url(../../assets/fonts/EMOTIQOutlineSlantBold.svg?h=f7cb7ca57b9519444486590142c7d4be) format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}