@font-face {
	font-family: 'EMOTIQ';
	src: url(../../assets/fonts/EMOTIQ.eot) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQ.eot) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQ.woff2) format('woff2'),
	url(../../assets/fonts/EMOTIQ.woff) format('woff'),
	url(../../assets/fonts/EMOTIQ.ttf) format('truetype'),
	url(../../assets/fonts/EMOTIQ.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'EMOTIQ';
	src: url(../../assets/fonts/EMOTIQBold.eot) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQBold.eot) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQBold.woff2) format('woff2'),
	url(../../assets/fonts/EMOTIQBold.woff) format('woff'),
	url(../../assets/fonts/EMOTIQBold.ttf) format('truetype'),
	url(../../assets/fonts/EMOTIQBold.svg) format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}