@font-face {
	font-family: 'EMOTIQ Stencil Outline Slant';
	src: url(../../assets/fonts/EMOTIQStencilOutlineSlant.eot?h=832254d62a244e5bcf01edd7c3ef58e7) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQStencilOutlineSlant.eot?h=832254d62a244e5bcf01edd7c3ef58e7) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQStencilOutlineSlant.woff2?h=832254d62a244e5bcf01edd7c3ef58e7) format('woff2'),
	url(../../assets/fonts/EMOTIQStencilOutlineSlant.woff?h=832254d62a244e5bcf01edd7c3ef58e7) format('woff'),
	url(../../assets/fonts/EMOTIQStencilOutlineSlant.ttf?h=832254d62a244e5bcf01edd7c3ef58e7) format('truetype'),
	url(../../assets/fonts/EMOTIQStencilOutlineSlant.svg?h=832254d62a244e5bcf01edd7c3ef58e7) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'EMOTIQ Stencil Outline Slant';
	src: url(../../assets/fonts/EMOTIQStencilOutlineSlantBold.eot?h=832254d62a244e5bcf01edd7c3ef58e7) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQStencilOutlineSlantBold.eot?h=832254d62a244e5bcf01edd7c3ef58e7) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQStencilOutlineSlantBold.woff2?h=832254d62a244e5bcf01edd7c3ef58e7) format('woff2'),
	url(../../assets/fonts/EMOTIQStencilOutlineSlantBold.woff?h=832254d62a244e5bcf01edd7c3ef58e7) format('woff'),
	url(../../assets/fonts/EMOTIQStencilOutlineSlantBold.ttf?h=832254d62a244e5bcf01edd7c3ef58e7) format('truetype'),
	url(../../assets/fonts/EMOTIQStencilOutlineSlantBold.svg?h=832254d62a244e5bcf01edd7c3ef58e7) format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}