@font-face {
	font-family: 'EMOTIQ Outline';
	src: url(../../assets/fonts/EMOTIQOutline.eot) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQOutline.eot) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQOutline.woff2) format('woff2'),
	url(../../assets/fonts/EMOTIQOutline.woff) format('woff'),
	url(../../assets/fonts/EMOTIQOutline.ttf) format('truetype'),
	url(../../assets/fonts/EMOTIQOutline.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'EMOTIQ Outline';
	src: url(../../assets/fonts/EMOTIQOutlineBold.eot) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQOutlineBold.eot) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQOutlineBold.woff2) format('woff2'),
	url(../../assets/fonts/EMOTIQOutlineBold.woff) format('woff'),
	url(../../assets/fonts/EMOTIQOutlineBold.ttf) format('truetype'),
	url(../../assets/fonts/EMOTIQOutlineBold.svg) format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}