@font-face {
	font-family: 'EMOTIQ Stencil';
	src: url(../../assets/fonts/EMOTIQStencil.eot?h=f7cb7ca57b9519444486590142c7d4be) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQStencil.eot?h=f7cb7ca57b9519444486590142c7d4be) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQStencil.woff2?h=f7cb7ca57b9519444486590142c7d4be) format('woff2'),
	url(../../assets/fonts/EMOTIQStencil.woff?h=f7cb7ca57b9519444486590142c7d4be) format('woff'),
	url(../../assets/fonts/EMOTIQStencil.ttf?h=f7cb7ca57b9519444486590142c7d4be) format('truetype'),
	url(../../assets/fonts/EMOTIQStencil.svg?h=f7cb7ca57b9519444486590142c7d4be) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'EMOTIQ Stencil';
	src: url(../../assets/fonts/EMOTIQStencilBold.eot?h=f7cb7ca57b9519444486590142c7d4be) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQStencilBold.eot?h=f7cb7ca57b9519444486590142c7d4be) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQStencilBold.woff2?h=f7cb7ca57b9519444486590142c7d4be) format('woff2'),
	url(../../assets/fonts/EMOTIQStencilBold.woff?h=f7cb7ca57b9519444486590142c7d4be) format('woff'),
	url(../../assets/fonts/EMOTIQStencilBold.ttf?h=f7cb7ca57b9519444486590142c7d4be) format('truetype'),
	url(../../assets/fonts/EMOTIQStencilBold.svg?h=f7cb7ca57b9519444486590142c7d4be) format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}