@font-face {
	font-family: 'EMOTIQ Slant';
	src: url(../../assets/fonts/EMOTIQSlant.eot) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQSlant.eot) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQSlant.woff2) format('woff2'),
	url(../../assets/fonts/EMOTIQSlant.woff) format('woff'),
	url(../../assets/fonts/EMOTIQSlant.ttf) format('truetype'),
	url(../../assets/fonts/EMOTIQSlant.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'EMOTIQ Slant';
	src: url(../../assets/fonts/EMOTIQSlantBold.eot) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQSlantBold.eot) format('embedded-opentype'),
	url(../../assets/fonts/EMOTIQSlantBold.woff2) format('woff2'),
	url(../../assets/fonts/EMOTIQSlantBold.woff) format('woff'),
	url(../../assets/fonts/EMOTIQSlantBold.ttf) format('truetype'),
	url(../../assets/fonts/EMOTIQSlantBold.svg) format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}